img.badge-image {
	height: 64px;
}

.badge-type {
	position: relative;
	top: 20px;
}
.badge-icon {
	text-align: center;
}

.right {
	position: absolute;
	right: 0px;
	top: 10px;
}
.float-right {
	float: right;
	margin-left: 10px;
}
.container {
	padding-bottom: 36px;
}

.row {
	display: block;
}
.modal-dialog {
	max-width: 50% !important;
	position: unset;
}

div.flex {
	display: flex;
}